.cards-wrapper {
  perspective: 100vw;
  position: relative;
  top: -400px;
}

.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  transform: rotateY(30deg) rotateX(29deg); /* Додає обертання контейнера по обох осях */
  transform-style: preserve-3d; /* Забезпечує 3D ефект для дочірніх елементів */
  width: 200vw; /* Додає ширину, щоб контейнер містив усі елементи */
  height: 200vh; /* Додає висоту, щоб контейнер містив усі елементи */
}

/* Ряд карток */
.cards-row {
  width: 300vw; /* Встановлює ширину рядків */
  display: flex;
  gap: 1vw;
  transform-style: preserve-3d; /* Забезпечує 3D ефект для дочірніх елементів */
}

.cards-row-0{
  animation: anim_row 22s linear infinite;
}
.cards-row-1{
  animation: anim_row 14s linear infinite;
}
.cards-row-2{
  animation: anim_row 18s linear infinite;
}
.cards-row-3{
  animation: anim_row 20s linear infinite;
}
.cards-row-4{
  animation: anim_row 16s linear infinite;
}
.cards-row-5{
  animation: anim_row 18s linear infinite;
}

/* Стилі для карток */
.card {
  filter: blur(4px);
}

/* Зображення всередині карток */
.card img {
  width: 100%;
  height: 100%;
}

/* Анімація руху вверх */
@keyframes anim_row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
