@keyframes bg {
    75% {
        background-color: #181b20;
	}
	100% {
        background-color: #181b20a4;
	}
}

.box{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #181b20;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    animation: bg 2s linear forwards;
  }
  
  p{
    text-indent: 2.77rem;
  }
  .main{
    text-indent: 0;
  }
  .comp{
    color: #3f6f85;
  }
  .num{
    color: #e8b9bf;
  }
  .str{
    color: #efc189;
  }
  .bracket{
    color: #792046;
  }
  